<div class="imageSlider">
    <div class="imageHeader">
        <div class="leftHeaderItem flex-center">
            <img src="../../../assets/svgs/gallery.svg" alt="MenuSvg">
        </div>
        <div class="leftHeaderItem flex-center">
            <img src="../../../assets/svgs/notification.svg" alt="MenuSvg">
        </div>
        <div class="leftHeaderItem flex-center">
            <img src="../../../assets/svgs/favourite.svg" alt="MenuSvg">
        </div>
        <div class="rightHeader">
            <input type="text" class="rightheaderSearch" placeholder="Search">
            <img src="../../../assets/svgs/search.svg" alt="Search" class="rightheaderSearchIcon">
        </div>
    </div>

    <div class="productContainer flex-center">
        <div class="productDetail" *ngFor="let product of products">Dummy Product</div>

    </div>
    <button class="previousBtn">
        <img src="../../../assets/svgs/arrow-left.svg" alt="ArrowLeft">
    </button>
    <button class="nextBtn">
        <img src="../../../assets/svgs/arrow-right.svg" alt="ArrowRight">
    </button>
</div>
<div class="imageInfo">
</div>