main {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/plantShopbg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.mainContainer {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.sideBar {
    height: 100%;
    width: 5%;

}

.slider {
    width: 95%;
    height: 100%;
}

.sliderContainer {
    position: relative;
    width: 100%;
    height: 80%;
    background: rgba(255, 255, 255, 0);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.09);
}